	html, body
	{
		height: 100%;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}

	#appLayout
	{
		height: 100%;
	}

	#leftContainer
	{
		width: 14em;
	}

	.claro .mainLayout .edgePanel
	{
		background-color: #d0e9fc;
	}

	#viewsChart
	{
		width: 550px;
		height: 550px;
	}

	.results
	{
		margin: 1em;
		padding: 1em;
		border: 1px solid #999;
	}